body{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background-color: #141E27;
  color: white;
}

.App {
  display: grid;
  place-content: center;
  text-align: center;
}

.primary-nav{
  display: flex;
  align-items: center;
  gap: 20px;
}

.superhero-link{
  cursor: pointer;
}

a{
  text-decoration: none;
  font-weight: bold;
  color: black;
  padding: 0.5rem;
  background-color: orange;
  border-radius: 0.5rem;
}