body{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background-color: #141E27;
  color: #ffffff;
  text-align: center;
}

.header{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App {
  display: grid;
  place-content: center;
  text-align: center;
}

.primary-nav{
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 2rem;
}

.superhero-link{
  cursor: pointer;
}

a{
  text-decoration: none;
  font-weight: bold;
  color: black;
  padding: 0.5rem;
  background-color: orange;
  border-radius: 0.5rem;
}

.btn{
  background-color: orange;
  padding: 0.5rem;
  outline: none;
  border: none;
  border-radius: 0.5rem;
  font-weight: 600;
  font-size: 1rem;
}

.btn:active{
  transform: scale(0.95);
}

.form-group{
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: left;
  margin-bottom: 1rem;
}

.form-group input{
  outline: none;
  background: none;
  color: white;
  border-radius: 0.5rem;
  height: 1.5rem;
  padding: 0 0.4rem;
  border: 2px solid orange;
}

.RQ-superheroes{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4rem;
}